/* .main{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
} */
.slider,.img-in-slide,.active-slide,.gradient-division-1,.gradient-division-2{
  margin: 0;
  padding:0;
  max-width: 1500px;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat',Arial;
  -webkit-text-size-adjust: none;
  width: 100%;
}
.nav-bar{
  background-color: rgba(0,0,0,0.3);
  display: block;
  /* position: absolute; */
  margin-top: 0px;
  z-index: 2;
  /* width: 96%; */
  /* display: none; */
}
a{
  all: unset;
}
.slide-container{
  position: absolute;
  z-index: 1;
  margin-top: -340px;
}
.home-main-info{
  margin: 0 10px;
  padding: 10px;
}
.home-main-info h1{
  font-size: 13px;
}
.home-main-info svg{
  height: 20px;
  float: left;
  margin-top: 8px;
  rotate: 180deg;
  /* fill: #faa300; */
}
.bottom-container{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width:1500px){
  .bottom-container{
    padding-top: 670px;
  }
}
.bottom-container h2{
  color: #faa300;
}
.container-in-trending{
  display: flex;
}
.vertical-container h3{
  /* rotate: -90deg; */
  /* vertical-align: middle;*/
  transform: rotate(-90deg);
  color:rgba(255,255,255,0.6);
  margin: 0;
  /* justify-content: center;
  text-align: center;
  vertical-align:middle; */
  /* margin-top: 100px; */
  /* line-height: 10px; */
  width: 200px;
  margin-left: -80px;
  margin-top: 130px;
  font-size: 120%;
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.vertical-container span{
  background-color: #faa300;
  /* padding: 5px 10px; */
  /* width: 0px; */
  padding: 0 10px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  /* position: absolute; */
  margin-top: 250px;
}
.vertical-container{
  width: 40px;
  background: linear-gradient(180deg,#4a4b51 0,rgba(74,75,81,0) 99%);;
  /* background:linear-gradient(0deg, rgba(0,0,0,0.2),rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(255,255,255,0.4), rgba(255,255,255,0.7)); */
}
.animes-in-trending,.anime-in-container-most-viewed,.container-best-on-imdb{
  display: flex;
  overflow-x: scroll;
}
.animes-in-trending::-webkit-scrollbar,.anime-in-container-most-viewed::-webkit-scrollbar,.container-best-on-imdb::-webkit-scrollbar{
  display: none;
}
.anime-in-trending{
  min-width: 230px;
  margin: 0 10px;
}
/* .anime-in-trending .image-container {
  width: 400px;
} */
.anime-in-trending .image-container img{
  width: 200px;
  height: 300px;
}
.anime-in-trending:hover{
  cursor: pointer;
}
.animes-in-trending,.container-best-on-imdb,.anime-in-container-most-viewed{
  width: 98%;
}


@media only screen and (max-width:1000px){
  .anime-in-trending{
    min-width: 200px;
  }
  .vertical-container{
    width: 35px;
  }
  /* .anime-in-trending .image-container{
    width: 200px;
  } */
  .anime-in-trending .image-container img{
    width: 170px;
    height: 240px;
  }
  .vertical-container h3{
    margin-top: 80px;
    font-size: 110%;
  }
}
@media only screen and (max-width:550px){
  .anime-in-trending{
  min-width: 170px;
}
.vertical-container{
  width: 25px;
}
/* .anime-in-trending .image-container{
  width: 200px;
} */
.anime-in-trending .image-container img{
  width: 140px;
  height: 220px;
}
.vertical-container h3{
  margin-top: 70px;
  margin-left: -90px;
  font-size: 100%;
}
.vertical-container span{
  font-size: 16px;
  padding: 0 3px;
}
.anime-in-trending{
  margin: 0 5px;
}
}

/* slider division start */
    .slider{
      margin-top: 0px;
      /* height: 650p */
      touch-action: pan-y;
    }
    .slide{
      width: 100vw;
      display: none; 
      background-color: none;
      background-size: 100%;
      background-repeat: no-repeat;
      /* background-position-y:center ; */
      background-position-x: center;
      background-image: linear-gradient(to right,rgba(0,0,0,0.7), rgba(0,0,0,0.2));
      /* height: 600px; */
      position: absolute;
    }
    .slide img{
      width: 100%;
      /* position: absolute; */
      height: 650px;
    }
    .gradient-division-1,.gradient-division-2{
      position: absolute;
      height: 650px;
      width: 100%;
    }
    .gradient-division-1{
      background: linear-gradient(90deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0.2) 60%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.9) 100%);
    }
    .gradient-division-2{
      background: linear-gradient(0deg,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.2) 40%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.9) 100%);
    }
    .active-slide{
      display: block;
      animation: slideIn 0.1s;
      animation-direction: alternate;
      /* opacity: 1; */
    }
    .active-slide::-webkit-scrollbar{
      display: none;
    }
    /* @keyframes slideIn{
      0%{
          margin-right: 50%;
          height: 600px;
          width: 100%;
      }
      10%{
          margin-right: 45%;
          height: 600px;
          width: 100%;
      }
      20%{
          margin-right: 40%;
          height: 600px;
          width: 100%;
      }
      30%{
          margin-right: 35%;
          height: 600px;
          width: 100%;
      }
      40%{
          margin-right: 30%;
          height: 600px;
          width: 100%;
      }
      50%{
          margin-right: 25%;
          height: 600px;
          width: 100%;
      }
      60%{
          margin-right: 20%;
          height: 600px;
          width: 100%;
      }
      70%{
          margin-right: 15%;
          height: 600px;
          width: 100%;
      }
      80%{
          margin-right: 10%;
          height: 600px;
          width: 100%;
      }
      90%{
          margin-right: 5%;
          height: 600px;
          width: 100%;
      }
      100%{
          margin-right: 0%;
          height: 600px;
          width: 100%;
      }
    } */
    .slide-dot{
      width: 15px;
      height: 15px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      /* background-color: #faa300; */
      margin: 10px 10px;
      /* display: none; */
      /* position: absolute; */
    }
    .active-slide-dot{
      background-color: #faa300;
    }
    .slider-dots{
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 80px;
      margin-left: 93%;
    }
    .slide-change-btns{
      position: absolute;
      margin-left: 93%;
      margin-top: 530px;
    }
    .slide-change-btns .btn{
      padding-top: 5px;
      padding-bottom: 5px;
      height: 30px;
      width: 40px;
      transition: all 0.5s;
      background-color: rgb(42,43,49);
      margin-bottom: 5px;
      text-align: center;
      border-radius: 15px;
      /* padding-left: 10px; */
    }
    .slide-change-btns .btn:hover{
      background-color: #faa300;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7);
    }
    .slide-change-btns .btn-1:hover >  .prev-icon{
      fill: rgba(0,0,0,0.7)
    }
    .slide-change-btns .btn-2:hover >  .nxt-icon{
      fill: rgba(0,0,0,0.7)
    }
    .svg-icon-change-slide{
      height: 30px;
    }
    .prev-icon{
      margin-left: -2px;
    }
    .nxt-icon{
      rotate: 180deg;
      margin-left: 2px;
    }

    .slider h2{
        color: #faa300;
        /* color: rgba(0,0,0,0.8); */
        margin: 10px 0;
        padding: 0 10px;
    font-size: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
    .slider .slide-spotlight-txt{
    color: rgba(255, 255, 255, 0.6);
    margin-left: 15px;
    }
    .slider .slide-more-info ul{
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    margin-left: -20px;
    }
    .slider .slide-more-info .slide-list-ele{
    margin-left: 20px;
    }
    .slider .slide-anime-des{
    width: 800px;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 70px;
    font-size: 16px;
    }
    .slider .slide-container{
    padding: 10px 20px;
    }
    .slider .slide-container .slide-btns{
    padding: 20px;
    }
    .slider .slide-container .slide-btn:hover{
      cursor: pointer;
    }
    .slider .slide-container .slide-btn{
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    }
    .slider .slide-container .watch-now-btn{
    padding: 8px 10px;
    background-color: #faa300;
    margin-right: 5px;
    }
    .slider .slide-container .details-btn{
      background-color: rgba(255, 255, 255, 0.9);
    padding:7px 28px 7px 15px;
    }
    .slider .slide-container .svg-icon-on-slide{
    rotate: 180deg;
    height: 25px;
    fill: rgba(0,0,0,0.9);
    margin: 0;
    padding: 0;
    /* margin-bottom: -8px; */
    margin-top: -2px;
    position: absolute;
    }
    .slider .slide-container .details-btn:hover > .svg-icon-on-slide{
    height: 30px;
    margin-top: -5px;
    transition: all 0.5s;
    }
    .slider .slide-container .details-btn:hover  {
      /* cursor: pointer; */
    padding-left: 10px;
    padding-right: 32px;
    transition: 0.5s;
    }
    .slider .slide-container .updated-time-on-slide{
    padding: 0px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    }
    .slider .slide-container .updated-time-on-slide span{
    margin-left: 4px;
    }
    .slider .slide-container .svg-icon-clk-on-slider{
    height: 15px;
    margin-bottom: -3px;
    }
    @media only screen and (min-width:1500px){
    .slider-dots,.slide-change-btns{
    margin-left: 1450px;
    }
    }
    @media only screen and (max-width:1100px){
    .slide,.gradient-division-1,.gradient-division-2{
    margin-top:100px;
    }
    }
    @media only screen and (max-width:1000px){
    .slider .slide-anime-des{
    font-size: 15px;
    -webkit-line-clamp: 3;
    height: 47px;
    }
    }
    @media only screen and (max-width:900px){
    .slider .slide-anime-des{
    width: 600px;
    }
    }
    @media only screen and (max-width:800px){
    .slider .slide-anime-des{
    display: none;
    }
    .slide-container{
    margin-top: -250px;
    }
    }
    @media only screen and (max-width:650px){
    .slider-dots .slide-dot{
    height: 12px;
    width: 12px;
    }
    .slider .slide-container .slide-btn{
    height: 30px;
    padding: 7px 10px;
    }
    .slider .slide-container .details-btn{
    padding-right: 30px;
    }
    .slider .slide-container .slide-btns{
    padding: 10px 10px 20px 10px;
    }
    .slider .slide-container .small-text-on-slider{
    font-size: 12px;
    }
    .slider .slide-container{
    padding:10px;
    }
    .slide-container{
    margin-top: -210px;
    }
    }
    @media only screen and (max-width:550px){
    .slide-change-btns .btn{
    height: 25px;
    width: 30px;
    /* padding:  2px 5px 2px; */
    border-radius: 15px;
    }
    .slider-dots .slide-dot{
    height: 10px;
    width: 10px;
    }
    .slider .slide-container h2{
    font-size: 25px;
    }
    }
    @media only screen and (max-width:500px){
    .slide-change-btns .btn{
    display: none;
    }
    .slider .slide-more-info ul{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;
    }
    .slider .slide-container .small-text-on-slider{
    font-size: 10px;
    }
    .slider .slide-container .slide-btns{
    padding: 10px;
    }
    .slide-container{
    margin-top: -180px;
    }
    .slider .slide-container .slide-btn{
    height: 25px;
    font-size: 12px;
    padding: 5px 10px;
    }
    .slider .slide-container .play-svg{
    height: 13px;
    }
    .slider .slide-container .svg-icon-on-slide{
      margin-top: 0px;
    height: 20px;
    }
    .slider .slide-container .details-btn:hover > .svg-icon-on-slide{
    height: 25px;
    }
    .slider .slide-container .details-btn{
    padding-right: 20px;
    }
    .slider .slide-container .svg-icon-clk-on-slider{
    height: 10px;
    margin-top: -10px;
    }
    }

    
  
