.background-container{
  width: 100%;
  z-index: 0;
  /* height: 2000px; */
  /* position: absolute; */
  background-image: url("https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx20-YJvLbgJQPCoI.jpg") ;
  opacity: 0.4;
  filter:blur(20px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:center;
  background-position-x: center;
  background-attachment: fixed;
}
.main-container{
  z-index: 2;
  /* position: absolute; */
}
.second-nav{
  background-image: url("https://vivek0018.github.io/Files.Animerulz/images/kakashi-naruto.webp");
}
@media only screen and (max-width:550px){
  .second-nav{
    background-image: url("https://vivek0018.github.io/Files.Animerulz/images/naruto-sasuke-bg.webp");
  }
}
