.background-container{
    width: 100%;
    z-index: 0;
    position: absolute;
    background-image: url("https://img.zorores.com/_r/300x400/100/54/90/5490cb32786d4f7fef0f40d7266df532/5490cb32786d4f7fef0f40d7266df532.jpg") ;
    opacity: 0.4;
    filter:blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-attachment: fixed;
  }
  .main-container{
    z-index: 2;
    position: absolute;
  }
  .second-nav{
    background-position-y: -100px;
    background-image: url("/images/OnePiece.webp");
  }
  @media only screen and (max-width:650px){
    .second-nav{
      background-position-y: 0px;
    }
  }
  .more-from-this-anime{
    /* margin-top: 150px; */
    padding-top: 20px;
  }
  .recommendations{
    margin-top: 0;
  }
  /* .video-l-details-data .list-ele-h-1{
    overflow-x: hidden;
  } */
  /* @media only screen and (max-width:550px){
    .second-nav{
      background-image: url("naruto-sasuke-bg.webp");
    }
  } */
